@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

@font-face {
  font-family: "Logo";
  src: url("./TheHistoriaDemo.otf");
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primaryColor: #35174ed3;
  --mainWhite: #fff;
  --mainBlack: rgb(48, 0, 66);
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  width: 100%;
  background-color: #1f1f1f;
  height: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background: transparent;
}
/* Start Preloder */
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 50;
  overflow: visible;
  background: #ffffff url("images/loder.gif") no-repeat center center;
}
/*End Preloader*/

.navbar {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  background: #1f1f1f;
  z-index: 1;
}
.togals {
  position: sticky;
  top: 90vh;
  height: 20vh;
  background:#1f1f1f;
  z-index: 1;
}
h2 {
  margin: 0;
  padding: 0;
}
.logo-title {
  margin-top: 5px;
  font-size: 2.2rem;
  font-family: "Logo";
  color: #ffffff;
  font-weight: 500;
}
.logo-title-division {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
}
.logo-title-division-store {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  color: #fff;
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #571794;
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
#infoBtn{
  text-decoration: none; 
  color: #fff;
}
#infoBtn:hover {
  color: #571794;
}
.hero {
  min-height: calc(100vh - 60px);
  display: flex;
  margin-top: -100px;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  width: 40%;
  display: inline-block;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 2rem;
}
.banner-title {
  font-size: 3.4rem;
  color: #1a0824e7;
  font-weight: 100;
  font-family: "Logo";
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
.banner-info {
  font-family: "Poiret One", cursive;
  color: rgb(46, 17, 56);
  font-size: 1.5rem;
  margin: 15px auto;
  margin-bottom: 2rem;
  letter-spacing: var(--mainSpacing);
}
.banner-btn {
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  color: #fff;
  border-radius: 20px;
  background: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
.products {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}
input[type=text], input[type=number], input[type=email]
{
  font-family: "Poiret One", cursive;
  margin: 10px 0;
  border: none;
  width: 90%;
  font-size: 20px;
  border-bottom: 1px solid var(--primaryColor);
}
textarea {
  font-family: "Poiret One", cursive;
  border: none;
  height: 100px;
  margin: 10px 0;
  font-size: 20px;
  width: 90%;
  border-bottom: 1px solid var(--primaryColor);
}
.project {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.img-container {
  position: relative;
  overflow: hidden;
  flex: 1;
}
.img-container img {
  width: 1100px;
  user-select: none;
}
.bag-btn {
  position: absolute;
  top: 40%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  font-size: 1.3rem;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.project-discription {
  margin-left: 1rem;
  margin-right: 2rem;
  color: rgb(255, 255, 255);
  flex: 1;
}
.project-discription h3 {
  font-size: 3rem;
  font-weight: 300;
  font-family: "Logo";
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.774);
  user-select: none;
}
.project-discription p {
  font-size: 1.5rem;
  text-align: justify;
  user-select: none;
  font-style: bold;
  padding-right: 100px;
  font-family: "Poiret One", cursive;
}
.project-discription h4 {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
}
.right {
  text-align: right;
}
.right p {
  text-align: justify;
  padding-right: 2px;
  padding-left: 100px;
}
.rightbag {
  left: 0;
  transform: translateX(-101%);
}
.your-cart {
  font-family: "Logo";
}


@media screen and (max-width: 500px) {
  .logo {
    width: 200px;
  }
  .banner {
    margin-top: -90px;
    width: 90%;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-info {
    width: 80%;
    font-size: 0.8rem;
  }
  .section-title {
    text-align: center;
    font-size: 1.7rem;
  }
  .project {
    flex-direction: column;
  }
  .img-container {
    margin: 0 0 0.5rem 0;
    order: 1;
  }
  .img-container img {
    width: 370px;
  }
  .project-discription {
    margin: 0;
    order: 2;
    text-align: center;
  }
  .project-discription h3 {
    font-size: 2rem;
  }
  .project-discription p {
    text-align: center;
    font-size: 1rem;
    padding: 0;
  }
  .project-discription h4 {
    font-size: 1.2rem;
  }
  .bag-btn {
    font-size: 0.7rem;
  }
}
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(61, 61, 61, 0.377);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  font-family: "Roboto" sans-serif;
  width: 100%;
  height: 100%;
  border-left: 1px solid rgb(61, 61, 61);
  overflow-x: hidden;
  z-index: 3;
  background: #fff;
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.cart::-webkit-scrollbar {
  display: none;
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  color: #311742;
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  color: #2f183f;
  font-family: "Roboto" sans-serif;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
  color: #311941;
}
.cart-item img {
  width: 150px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
.check-out {
  padding: 0.5rem 1.6rem;
  margin-top: 6px;
}
.checkOut-title {
  font-family: "Logo";
  color: #371d49;
  font-size: 40px;
  font-weight: 550;
}
.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  color: #3d2050;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
#infoModal {
  display: none;
}
.modalAdd {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgb(36, 36, 36);
}
.modalInfo {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(10, 10, 10, 0.658);
}
.modal-content-add {
  background-color: #fff;
  margin: 20px auto;
  color: #3e1f53;
  height: auto;
  width: 50%;
  border: 2px solid #562974;
  border-radius: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1.5s;
}
.modal-header h2,
.modal-footer h3 {
  margin: 0;
}
.modal-header {
  padding: 15px;
}
.modal-body {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  padding: 10px 20px;
}
.modal-footer {
  padding: 10px;
  text-align: center;
}

.closeBtn {
  color: #391e4b;
  float: right;
  font-size: 40px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #bc75eb;
  text-decoration: none;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#post:hover {
  background-color: #3d1f52;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .cart {
    width: 100vw;
    overflow-x: hidden;
  }
  .cart-item img {
    width: 90px;
  }
  .cart h2 {
    text-align: center;
    font-size: 20px;
  }
  .close-cart {
    font-size: 20px;
  }
  .modal-content-add {
    margin-top: 3vh;
    width: 92%;
    height: auto;
  }
}
